.adarender {
  margin: 0 auto;
}
.adarender-loading {
  background: black;
  /* position: fixed; */
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.97 !important;
  position: fixed;
}

.adarender .img-wrap-bd {
  width: 100%;
  text-align: center;
}
.adarender .img-wrap {
  margin-right: -10px;
}
.adarender .img-wrap .img-item {
  display: block;
  float: left;
  font-size: 13px;
  text-align: center;
  margin: 0 25px 10px 0;
  width: 115px;
}
.adarender .img-wrap .img-item:link,
.adarender .img-wrap .img-item:visited,
.adarender .img-wrap .img-item:hover,
.adarender .img-wrap .img-item:active {
  text-decoration: none;
  background: none;
  color: #37a;
}
.adarender .img-wrap .img-item .cover-wp {
  background-size: 100%;
  height: 161px;
  overflow: hidden;
}
.adarender .img-wrap .img-item .cover-wp img {
  object-fit: cover;
  width: 100%;
  height: 100%;  
  /* max-width: max-content; */
  /* max-height: 100%; */
}
.adarender .img-wrap .img-item p {
  margin: 5px 0 0;
  height: 44px;
  overflow: hidden;
  font-size: 13px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}
.adarender .img-wrap .img-item .new {
  display: inline-block;
  opacity: 1;
  position: relative;
  top: -2px;
  border-width: 0;
  vertical-align: middle;
  width: 16px;
}
.adarender .img-wrap .img-item .green {
  color: #58a05a;
}
.adarender .img-wrap .img-item strong {
  color: #e09015;
}

.adarender .tags {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  zoom: 1;
}
.adarender .tag-list {
  margin: 0;
  padding: 0;
  /* width: auto; */
  display: inline;
  padding-right: 5px;
}
.adarender .tag-list .tag {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  padding: 1px 10px;
  margin: 0 3px 5px 0;
  color: #666;
  font-size: 14px;
  border-radius: 2px;
  background: none;
  vertical-align: middle;
}
.adarender .tag-list .activate {
  background: #4b8ccb;
  color: #fff;
}

